* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* header and hero section */

.header-and-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2837;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: white;
    padding: 16px;
    width: 75vw;
}

.header ul {
    display: flex;
    gap: 16px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

#hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8
}

.header a, #hero-secondary-text {
    color: #E5E7EB;
}

.hero-image-section {
    width: 300px;
    background-color: gray;
}

.hero {
    width: 75vw;
    display: flex;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero h1, .hero p {
    margin: 0;
}

.hero-text-section, .hero-image-section {
    flex: 1;
}

.hero-text-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#hero-signup-button {
    border: none;
    color: #F9FAF8;
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
}

/* info section */

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    padding: 25px 0 75px;
    gap: 50px;
    text-align: center;
}

.info-image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;

}

.image-and-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 200px;
}

.info-image {
    border-radius: 10px;
    border: 2px solid #3882F6;
    width: 200px;
    height: 200px;
    background-color: white;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.quote-container {
    width: 60vw;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.quote-author {
    font-weight: bold;
    text-align: right;
    font-size: 24px;
}

.quotation-mark {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 64px;
    color: #1F2937;
    margin: 0;
}

.quote-container p:nth-child(3) {
    margin-top: 12px;
    text-align: right;
}