html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* header and hero section */

#header-and-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to left top, #2e0348, #450664, #5d0a81, #770e9f, #9310be, #9710c6, #9b0fce, #9f0fd6, #8c0ec8, #790dba, #670bac, #55089e);
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 24px;
    width: 75vw;
}

.header ul {
    display: flex;
    gap: 16px;
}

.logo-icon {
    width: 32px;
    height: 32px;
}

#hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8
}

.header a, #hero-secondary-text {
    color: #E5E7EB;
}

.hero {
    width: 75vw;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-text-section, .hero-image-section {
    flex: 1;
}

.hero-image-section {
    display: flex;
    align-items: center;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex: 1 1 100px;
    box-shadow: rgba(59, 0, 62, 0.579) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.hero h1, .hero p {
    margin: 0;
}

.hero-text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

#hero-signup-button {
    border: none;
    color: #F9FAF8;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #ff00d9;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
}

@media only screen and (max-width: 900px) {
    .hero {
        width: 75vw;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .hero-image-section {
        width: 60vw;
    }
}

/* info section */

h2 {
    font-size: 36px;
    color: #40234d;
    font-weight: 900;
}

#info-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    padding: 25px 0 75px;
    gap: 50px;
    text-align: center;
}

.info-image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 100px;
    width: 90vw;
}

.image-and-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.info-image {
    border-radius: 10px;
    height: 250px;
    background-color: white;
}

.image-and-description, .info-image {
    width: 250px;
}

.info-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
    background: rgb(139,30,255);
    background: linear-gradient(312deg, rgba(139,30,255,1) 12%, rgba(255,94,254,1) 77%);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

#quote-section {
    background-image:
    linear-gradient(180deg, rgba(124,30,255,0.5) 12%, rgba(43,5,141,0.5) 77%),
    url(./img/moo-deng-mud.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #E5E7EB;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0 10px 0;
    gap: 100px;
}

.quote-container {
    width: 60vw;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: white;
    margin: 0;
}

.quote-author {
    color: white;
    font-style: italic;
    font-weight: bold;
    text-align: right;
    font-size: 24px;
    margin: 0;
    margin-top: 25px;
}

.quote-image-credit {
    text-align: center;
    font-style: italic;
    color: white;
}

.quote-image-credit a{
    color: rgb(232, 105, 232);
}

.quotation-mark {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 64px;
    color: white;
    margin: 0;
}

.quote-container p:nth-child(3) {
    margin-top: 12px;
    text-align: right;
}

/* call to action section */
#cta-section {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    background-color: #9310be;
    margin: 100px 0;
    padding: 100px 100px;;
    width: 70vw;
    border-radius: 5px;
    gap: 64px;
}

.cta-text {
    display: flex;
    gap: 8px;
    flex-direction: column;
    flex: 3;
    color: white;
}

.cta-main-text {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.cta-secondary-text {
    margin: 0;
}

.cta-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#cta-signup-button {
    border: 2px solid white;
    color: #F9FAF8;
    font-weight: bold;
    background-color: #ff00d9;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
}

/* footer section */
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #2e0348;
    color: white;
    margin: 0;
    padding: 32px;
    text-align: center;
}

#footer p {
    margin: 0;
}

#footer a {
    color: rgb(232, 105, 232);
}